div.contact{
  position: absolute;
  top:5%;
  left:50%;
  transform: translateX(-50%);
}

form.formStyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30vw;
  height: 70vh;
}

div.contact h1{
  text-align: center;
  margin-bottom: 40px;
}

div.contact input{
  width:100%;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0 auto 30px;
  border-radius: 15px;
  border:none;
  box-shadow: 0 2px 12px black;
}


div.contact textarea{
  width:100%;
  min-height: 35vh;
  font-size: 18px;
  line-height: 1.5;
  padding: 2px 10px;
  border-radius: 12px;
  box-shadow: 0 0 15px black;
}

div.contact button{
  width: 7vw;
  padding: 10px;
  margin: 25px auto;
  font-size: 1.2vw;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid black;
  cursor: pointer;
  transition: .4s;
}

div.contact button:hover{
  background-color:black;
  color: white;
}


/*------------------------ Media Queries--------------------------- */

@media(max-width: 1366px){

  div.contact{
    top:0%;
  }
  
  form.formStyle{
    width:35vw;
    height: 70vh;
  }
  
  div.contact h1{
    margin-bottom: 35px;
  }

  div.contact input{
    font-size: 20px;
    padding: 12px 10px;
    margin: 0 auto 30px;
  }
  
  div.contact textarea{
    min-height: 28vh;
    line-height: 1.2;
  }
  
  div.contact button{
    width: 9vw;
  }
}

@media(orientation:landscape) and (max-width: 846px){

  div.contact{
    top:0%;
  }
  
  form.formStyle{
    width:65vw;
    height: 70vh;
  }

  div.contact h1{
    font-size: 23px;
    margin-bottom: 0px;
  }
  
  div.contact input{
    font-size: 18px;
    padding: 4px 10px;
    margin: 5px auto 10px;
  }
  
  div.contact textarea{
    min-height: 20vh;
    line-height: 1.2;
  }
  
  div.contact button{
    width: 15vw;
    margin: 15px auto;
    font-size: 1.8vw;
  }
}


@media(orientation:landscape) and (max-width: 568px){

  div.contact h1{
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  div.contact input{
    font-size: 14px;
    margin: 3px auto 10px;
  }
  
  div.contact button{
    width: 18vw;
    font-size: 2.3vw;
  }
}


@media(orientation:portrait) and (max-width: 1024px){

  div.contact{
    top:8%;
  }
  
  div.contact h1{
    margin-bottom: 10px;
    font-size: 3vh;
  }
  
  form.formStyle{
    width:55vw;
    height: 65vh;
  }
  
  div.contact textarea{
    min-height: 30vh;
    font-size: 23px;
    line-height: 1.2;
  }
  
  div.contact button{
    width: 15vw;
    font-size: 2.2vw;
    padding: 12px 10px;
  }
}


@media(orientation:portrait) and (max-width: 414px){

  div.contact{
    top:7%;
  }
  
  form.formStyle{
    width:80vw;
    height: 65vh;
  }

  div.contact h1{
    margin-bottom: 45px;
  }
  
  div.contact button{
    width: 28vw;
    font-size: 3.7vw;
  }
}


@media(orientation:portrait) and (max-width: 375px){

  div.contact{
    top:8%;
  }

  div.contact h1{
    margin-bottom: 45px;
  }

  div.contact input{
    font-size: 20px;
    padding: 8px 10px;
    margin: 0 auto 20px;
  }
}


@media(orientation:portrait) and (max-width: 320px){

  div.contact{
    top:2%;
  }

  div.contact h1{
    margin-bottom: 50px;
  }
  
  div.contact input{
    font-size: 20px;
    font-size: 15px;
    padding: 5px 10px;
    margin: 0 auto 20px;
  }


  div.contact textarea{
    font-size: 12px;
    padding: 2px 10px;
  }

  div.contact button{
    margin: 15px auto;
    padding: 10px;
  }
}

