div.footerWrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -5px 20px white;
}

div.social i{
  color:black;
  font-size: 3.2vh;
  padding: 0px 20px ;
  cursor: pointer;
}

div.social i:hover {
  color:#888;

}

div.copyRight{
  font-family: arial,sans-serif;
  margin-top: 8px;
  font-size: 2.5vh;
}