div.footerWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px -5px 20px white;
}

div.social {
  width: 300px;
  display: flex;
  justify-content: space-evenly;

}

div.social i{
  color:black;
  font-size: 3.2vh;
  cursor: pointer;
}

div.social i:hover {
  color:#888;

}

div.copyRight{
  font-family: arial,sans-serif;
  font-size: 2.5vh;
}


/*------------------------ Media Queries--------------------------- */


@media(orientation: landscape) and (max-width: 846px){

div.social i{
    font-size: 6vh;
  }

div.copyRight{
  font-size: 4.5vh;
}
}