div.home{
    height: 100%;
    background: url("../images/lion.jpg");
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(30%);
    font-family:'Rock Salt', cursive;
}

.home span{
    position: absolute;
    bottom: 12%;
    left:5%;
    color: white;
    font-size: 3vh;
    animation: text 1s linear ;
}

div.home h1{
    margin-top: 15px;
    font-size: 6vh;
}

div.brush{
    position: absolute;
    bottom: 8%;
    left: 1.5%;
    height: 25%;
    width: 40%;
    background: url("../images/brush-stroke-banner.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    animation: brush 2s linear ;
    transform: perspective(700px) rotateY(20deg);
}

@keyframes brush{
    0%{
        clip-path: inset(0px 750px 0px 0px);
        opacity:0;
    }
    25%{
        clip-path: inset(0px 750px 0px 0px);
        opacity:0;
    }
    50%{
        clip-path: inset(0px 750px 0px 0px);
        opacity:0;
    }

    75%{
    clip-path: inset(0px 0px 0px 0px);
    opacity: 1;
    }

    100%{
        clip-path: inset(0px 0px 0px 0px);
        opacity: 1;
    }
}

@keyframes text{
0%{
transform: scale(0);
}
100%{
    transform: scale(1);
}
}