/* burger animation */

:root {
    --animTime: 1.5s;
}

.burger {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 55px;
    height: 35px;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
}

.burger span {
    position: absolute;
    background-color: darkred;
    width: 100%;
    height: 6px;
    border-radius: 28%;
    transition: background-color .2s linear;
}

.burger:hover span {
    background-color: red;
}

.burger span:nth-child(1) {
    left: 0;
    top: 0;
}

.burger.active span:nth-child(1) {
    animation: slide_top var(--animTime) linear forwards;
}

.burger.close span:nth-child(1) {
    animation: slide_top_rv var(--animTime) linear reverse;
}

.burger span:nth-child(2) {
    top: calc(50% - 3px);
    left: 0;
    transition: opacity .5s linear, background-color .2s linear;
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger span:nth-child(3) {
    left: 0;
    bottom: 0;
}

.burger.active span:nth-child(3) {
    animation: slide_bottom var(--animTime) linear forwards;
}

.burger.close span:nth-child(3) {
    animation: slide_bottom_rv var(--animTime) linear reverse;
}

@keyframes slide_top {
    0% {
        left: 0px;
    }

    50% {
        top: 0;
        left: -60px;
        transform-origin: 0% 50%;
        transform: rotate(0deg);
    }

    75% {
        top: -60px;
        left: -60px;
        transform-origin: 0% 50%;
        transform: rotate(33deg);
    }

    100% {
        top: 0px;
        left: 5px;
        transform-origin: 0% 50%;
        transform: rotate(33deg);
    }
}

@keyframes slide_bottom {
    0% {
        left: 0px;
    }

    50% {
        bottom: 0;
        left: 60px;
        transform: rotate(0deg);
    }

    75% {
        bottom: 40px;
        left: 60px;
        transform-origin: 0% 50%;
        transform: rotate(-33deg);
    }

    100% {
        bottom: 0px;
        left: 5px;
        transform-origin: 0% 50%;
        transform: rotate(-33deg);
    }
}

@keyframes slide_top_rv {
    0% {
        left: 0px;
    }

    50% {
        top: 0;
        left: -60px;
        transform-origin: 0% 50%;
        transform: rotate(0deg);
    }

    75% {
        top: -60px;
        left: -60px;
        transform-origin: 0% 50%;
        transform: rotate(33deg);
    }

    100% {
        top: 0px;
        left: 5px;
        transform-origin: 0% 50%;
        transform: rotate(33deg);
    }
}

@keyframes slide_bottom_rv {
    0% {
        left: 0px;
    }

    50% {
        bottom: 0;
        left: 60px;
        transform: rotate(0deg);
    }

    75% {
        bottom: 40px;
        left: 60px;
        transform-origin: 0% 50%;
        transform: rotate(-33deg);
    }

    100% {
        bottom: 0px;
        left: 5px;
        transform-origin: 0% 50%;
        transform: rotate(-33deg);
    }
}


/* Menu CONTENT  */

/* Sliding pages */

aside {
position: fixed;
top:0;
left:-100%;
height: 100%;
width:100%;
background-color: #000;
transition: .8s cubic-bezier(.97,.19,.03,.94);
z-index: 1;
}

#one.on {
left: 0;
background-color: red;
}

#two.on{
left: 0;
background-color: orange;
transition-delay: .3s;
} 

#tree.on {
left:0;
background-color: #aaa;
transition-delay: .6s;
}
#four.on {
left:0;
background-color: black;
transition-delay: .9s;
}

/* Menu text */

nav ul {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style-type:none;
    background-color: black;
}

nav ul li {
    position: relative;
}

div.cover{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 220px;
    background: url("../images/brush-stroke-banner.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    clip-path: inset(0px 220px 0px 0px);
    padding: 40px 70px;
    transition: .5s;
}


a:hover + .cover {
    
    clip-path:inset(0px 0px 0px 0px);
}


nav ul li a {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: block;
    text-decoration: none;
    font-family:'Rock Salt', cursive;
    color:white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 5px;
    transition: .5s ;
    z-index: 1;
    
}

nav a:hover, nav a.active{
    color: black;
    font-size: 18px;
}

nav ul li a.active+.cover {
    clip-path:inset(0px 0px 0px 0px);
}

